.product-img-cart{
  max-width: 20%;
}

.infor-product-qtd-input {
  width: 3rem;
}


.info-product-container {
  gap: 1rem;
}

.icon-cart {
  cursor: pointer;
}

.modal-footer {
  border: none;
}

.container-search-icon {
  gap: 4rem;
}

.input-search {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding-left: 1rem;
}

